.result-src {
  border: 1px black solid;
  padding: 15px;
  background-color: rgb(212, 209, 209);
}

.queryButton {
  background-color: black;
  color: white;
  border: red;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.queryButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.textBox {
  background-color: rgb(92, 92, 92);
  margin-left: 1%;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  width: 24.5%;
}

.userMessage {
  margin-left: 1%;
  font-size: 25px;
  font-style: oblique;
}
