<div class="header">
    <br>
    <h1 class="greeting">Welcome to Competitor Ranking Tool <br />by</h1>
    <svg class="logo__icon" viewBox="150.3 22.2 213.7 22">
        <path fill="#00ff9b" d="M245 25 L225 45 L240 45z" data-name="Path 1" />
        <path fill="#3382FF" d="M260 25 L240 45 L255 45z" data-name="Path 2" />
        <path fill="#FF3349" d="M275 25 L255 45 L270 45z" data-name="Path 3" />
        <path fill="#F6FF33" d="M290 25 L270 45 L285 45z" data-name="Path 4" />
        <text class="logo__text" fill="#432c85" font-family="SegoeUI-Semibold,Segoe UI" font-size="8" font-weight="20"
            letter-spacing=".1em" transform="translate(203 36)">
            <tspan x="0" y="0">Software Olympics Comitee</tspan>
        </text>
    </svg>
    <br><br><br>
</div>